.cart-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  
}

.cartIcon {
  color:rgba(255, 255, 255, 0.55);
  font-size: 30px;
  margin-right: 5px;

}

.cart-paragraph {
  color:white;

}

.btn-close:focus {
  box-shadow: none;
}

.navbar-toggler {
  border: none;
  box-shadow: none;

}

.navbar-toggler:focus{
  border: none;
  box-shadow: none;

}

.navbar-buttonCart-container {
  display: flex;
  flex-direction: row;

}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
